<!-- <div class="row">
  <div class="col-lg-3 col-md-4 col-sm-12">This is to testThis is to testThis is to testThis is to testThis is to test This is to testThis is to testThis is to test This is to testThis is to testThis is to testThis is to testThis is to testThis is to test</div>
  <div class="col-lg-3 col-md-4 col-sm-12">This is to test</div>
  <div class="col-lg-3 col-md-4 col-sm-12">This is to test</div>
  <div class="col-lg-3 col-md-4 col-sm-12">This is to test</div>
  <div class="col-lg-3 col-md-4 col-sm-12">This is to test</div>
  <div class="col-lg-3 col-md-4 col-sm-12">This is to test</div>
</div> -->

<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
</nav> -->


<nav class="navbar navbar-light">
  <span class="navbar-brand mb-0 h1">Menu</span>
  <a class="navbar-brand" href="signup/">Register</a>
</nav>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>

